<h2>{{ account.name|escape }}</h2>
{% if account.avatar_url %}
  <div style="width: 45%; float: left;">
    <img src="{{ account.avatar_url|escape }}">
  </div>
{% endif %}
{% if account.company or account.blog or account.location %}
<div style="width: 45%; float: left;">
  {% endif %}
  {% if account.company %}
    <strong>Company:</strong> {{ account.company|escape }}<br>
  {% endif %}
  {% if account.blog %}
    <strong>Blog:</strong> <a href="{{ account.blog|escape }}">{{ account.blog|escape }}</a><br>
  {% endif %}
  {% if account.location %}
    <strong>Location:</strong> {{ account.location|escape }}<br>
  {% endif %}
  {% if account.company or account.blog or account.location %}
</div>
{% endif %}
<div style="clear: both;"></div>
{% if repositories %}
  <h3>Repositories:</h3>
  {% for repository in repositories %}
    <a href="{{ repository.html_url }}">{{ repository.full_name }}</a>
  {% endfor %}
{% endif %}
{% if organisations %}
  <h3>Organisations:</h3>
  {% for organisation in organisations %}
    <a href="{{ organisation.url }}">{{ organisation.login }}</a>
  {% endfor %}
{% endif %}